NEXT_PUBLIC_SUPABASE_URL=https://rwqjplbxyntqylfnwzqq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-6P2Qj3xwnCZ7LePbYSPAw_ic4Jg3dF
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3cWpwbGJ4eW50cXlsZm53enFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MTAwMjMsImV4cCI6MjA5NTA4NjAyM30.Jd--Z1XYt6r6EdlVaOJCXiVdSF2RZQW1Zc0mCQhsuH4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3cWpwbGJ4eW50cXlsZm53enFxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTUxMDAyMywiZXhwIjoyMDk1MDg2MDIzfQ.O8O7cS_VPMsibfl5fAtEIkUkginE2sviauGBfM6tUPI
